* {
    box-sizing: border-box;
}

body{
    background-color: rgb(53, 55, 63);
}

.boots {
    padding: 5px;
    color: lightcoral;
}

.cats {
    padding: 5px;
    color: skyblue;
}

.mynav{
    display: flex;
    align-items: center;
}

.myfooter {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}